In [2]:
import sys
from pathlib import Path

project_root = Path("/home/vansh/projects/project-nova").resolve()

if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

from src.data import get_sample_data, validate_schema

# Test
df = get_sample_data(3)
display(df)
print("Missing required columns:", validate_schema(df))

,partner_id,monthly_earnings,trips_per_week,avg_rating,cancellation_rate,active_days_per_month,avg_trip_distance_km,transactions_last_3_months,days_since_joining,late_payment_count,repairs_cost_last_6_months,city,vehicle_type,peak_hour_percentage,promotions_received_last_6_months,Nova_Score
0,P0001,33973.71,34,4.56,0.016,26,10.03,27,1115,0,508.89,Mumbai,Auto,0.286,2,95.71
1,P0002,33153.86,24,4.42,0.008,19,9.85,47,198,0,1132.34,Chennai,Car,0.143,1,60.76
2,P0003,28589.71,28,4.96,0.096,12,1.49,47,310,0,538.57,Kolkata,Bike,0.413,1,64.48

Missing required columns: []